@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Belleza", "sans-serif";
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.custom-img-hero {
  background: center/cover no-repeat url("./assets/polygon.svg");
  transform: skewY(-12deg);
}
